@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New Movie","New","",new { @class = "btn btn-primary" })

<table class="table table-hover table-bordered">
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(@movie.Name, "Details",new {id = movie.Id}, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
</table>